{% extends 'Template.html.twig' %}

{% block title %}Hello UserCotrUController!{% endblock %}
{% form_theme formrole 'bootstrap_4_layout.html.twig' %}
{% block body %}

 <!-- Input addon -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title"> {%if  editMode %} Modifier Role{% else %} Ajouter Role{% endif %}</h3>
              </div>
           
              {{form_start(formrole)}}
              
              <div class="card-body">
                
                 <h4>Nom Role</h4>

                <div class="input-group">
                 {{form_widget(formrole.rolenom)}}
                 
                </div>
                 
   <h4>Etat</h4>

                <div class="input-group">
                 {{form_widget(formrole.roleetat)}}
                  
                </div>   <br>
                  <div class="input-group">
                  {%if  editMode %}  <button type="submit" class="btn btn-success">Modifier</button>
                  {% else %}  
                  <button type="submit" class="btn btn-success">Ajouter</button>
                  {% endif %}
             
    
            </div>
{{form_end(formrole)}}
             
            </div>
{% endblock %}
